<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .wid-3{
                width: 25%;
            }
            .wid-6{
                width: 50%;
            }
            .wid-9{
                width: 75%;
            }
            .wid-12{
                /*width: 100%;*/
            }
            body {
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
            }
            .container {
                border: 3px solid #f1f1f1;
            }

            input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            button {
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            button:hover {
                opacity: 0.8;
            }

            .cancelbtn {
                width: auto;
                padding: 10px 18px;
                background-color: #f44336;
                color: #fff;
                text-decoration: none;
            }

            .img-container {
                /*display: inline-block;*/
                text-align: center;
            }
            .ext-container {
                /*display: inline-block;*/
                text-align: center;
            }

            img.avatar {
                width: 125px;
                border-radius: 50%;
            }

            .content-container {
                vertical-align: top;
                /*display: inline-block;*/
            }

            span.psw {
                float: right;
                padding-top: 16px;
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
                span.psw {
                    display: block;
                    float: none;
                }
                .cancelbtn {
                    width: 100%;
                }
            }
            .main-container{
                margin: auto;
                width:400px;
            }
            section h2{
                text-align: center;
            }
            .error-msg{
                margin: 0px;
                margin-top: -5px;
                font-size: 12px;
                letter-spacing: .5px;
                color: red;
            }
            .heading{
                font-weight: bold;
                width: 130px;
                display: inline-block;
            }
            .data{
                width: 100px;
                display: inline-block;
            }
            .detail_txt{
                padding: 6px 0px;
            }
            .logout{
                letter-spacing: 1px;
                width: 100px;
                text-align: center;
                background-color: #f44336;
                color: white;
                padding: 10px 10px;
                border: none;
                cursor: pointer;
                display: block;
                /*float: right;*/
            }
            .logout a{
                text-decoration: none;
                color: #fff;
            }
            .heading, .data{
                text-align: left;
            }
            .dashboard-buttons div{
                display: inline-block;
            }
            .dashboard{
                font-weight: bold;
                letter-spacing: 1px;
                width: 100px;
                text-align: center;
                background-color: #bbb5b5;
                color: #3F51B5;
                padding: 10px 10px;
                border: none;
                cursor: pointer;
                display: block;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <div class="main-container" style="background: rgba(0, 26, 255, 0.02)">

            <div class="container wid-12" style="text-align:center;margin-bottom: 50px;">
                <div class="dashboard-buttons" style="height: 58px;">
                    <div style="float: left;margin:10px 0px 0px 10px">
                        <span class="dashboard">
                            <span>Dashboard</span>
                        </span>
                    </div>
                    <div style="float: right;margin:10px 10px 0px 0px;">
                        <span class="logout">
                            <a href="/logout">Logout</a>
                        </span>
                    </div>
                </div>
                <div class="img-container">
                    <img src="assets/img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <div class="content-container" style="margin:25px 0px;">
                    <div class="form-group">
                        <div class="detail_txt">
                            <div class="heading">Name</div>
                            <div class="data"><%= user_data.first_name +' '+user_data.last_name %></div>
                        </div>
                        <div class="detail_txt">
                            <div class="heading">Mobile</div>
                            <div class="data"><%= user_data.mobile %></div>
                        </div>
                        <div class="detail_txt">
                            <div class="heading">Email</div>
                            <div class="data"><%= user_data.email %></div>
                        </div>
                        <div class="detail_txt">
                            <div class="heading">Member since</div>
                            <div class="data"><%= user_data.member_since %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
